* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}

/* Header */

.header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    box-shadow: 10px 10px 32px -6px rgba(140,140,140,1);
    -moz-box-shadow: 10px 10px 32px -6px rgba(140,140,140,1);
    box-shadow: 10px 10px 32px -6px rgba(140,140,140,1);
}

.logobox-header {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-wrapper {
    width: auto;
    display: flex;
    align-items: center;
    height: 50px;
    margin-right: 50px;
}

.header-navigation-box {
    display: flex;
    list-style: none;
}

.header-navigation-links {
    padding-left: 70px;
}

.swollow {
    color: grey;
    text-align: center;
    margin-top: 20px;
}

/* main boxes */

.wrapper-around-main-boxes {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000vh;
}

/* first box */

.first-box {
    width: auto;
    display: grid;
    height: auto;
    grid-template-areas: "one two three four";
    -webkit-box-shadow: 0px 0px 29px 1px rgba(143,143,143,1);
    -moz-box-shadow: 0px 0px 29px 1px rgba(143,143,143,1);
    box-shadow: 0px 0px 29px 1px rgba(143,143,143,1);
    border-top: #F8F8FF solid 40px;
    position: relative;
   
}

.chamber-one, .chamber-two, .chamber-three, .chamber-four {
    width: 250px;
    height: 160px;
    display: flex;
}

.chamber-one {
    grid-area: one;
    position: relative;
    flex-direction: column;
    align-items: center;
  
}

.chamber-two {
    grid-area: two;
    align-items: center;
    justify-content: center;
}

.chamber-three {
    grid-area: three;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chamber-four {
    grid-area: four;
    flex-direction: column;
    align-items: center;
}

/* dropdown first-box */

.dropdown-first-box {
    width: auto;
    height: auto;
    display: none;
    grid-template-areas: "one two three four";
    border-left: solid lightgray 1px;
    border-right: solid lightgray 1px;
    border-bottom: solid lightgray 1px;
}

/* content first box */



/* second box */

.second-box {
    width: auto;
    display: grid;
    grid-template-areas: "one two three four";
    height: auto;
    margin-top: 30px;
}

.chamber-one-secondbox, .chamber-two-secondbox, .chamber-three-secondbox, .chamber-four-secondbox {
    width: 250px;
    height: 200px;
    border: solid black;
}

.chamber-one-secondbox {
    grid-area: one;
}

.chamber-two-secondbox {
    grid-area: two;
}

.chamber-three-secondbox {
    grid-area: three;
}

.chamber-four-secondbox {
    grid-area: four;
}

/* dropdown second box */

.dropdown-second-box {
    width: auto;
    height: auto;
    display: none;
    grid-template-areas: "one two three four";
}

/* content second box */


/* third box */

.third-box {
    width: auto;
    display: grid;
    height: auto;
    margin-top: 30px;
    grid-template-areas: "one two three four";
}

.chamber-one-thirdbox, .chamber-two-thirdbox, .chamber-three-thirdbox, .chamber-four-thirdbox {
    width: 250px;
    height: 200px;
    border: solid pink;
}

.chamber-one-thirdbox {
    grid-area: one;
}

.chamber-two-thirdbox {
    grid-area: two;
}

.chamber-three-thirdbox {
    grid-area: three;
}

.chamber-four-thirdbox {
    grid-area: four;
}

/* dropdown third box */

.dropdown-third-box {
    width: auto;
    height: auto;
    display: none;
    grid-template-areas: "one two three four";
}

/* content third box */

/* fourth box */

.fourth-box {
    width: auto;
    display: grid;
    height: auto;
    margin-top: 30px;
    grid-template-areas: "one two three four";
}

.chamber-one-fourthbox, .chamber-two-fourthbox, .chamber-three-fourthbox, .chamber-four-fourthbox {
    width: 250px;
    height: 200px;
    border: solid green;
}

.chamber-one-fourthbox {
    grid-area: one;
}

.chamber-two-fourthbox {
    grid-area: two;
}

.chamber-three-fourthbox {
    grid-area: three;
}

.chamber-four-fourthbox {
    grid-area: four;
}

/* dropdown fourth box */

.dropdown-fourth-box {
    width: auto;
    height: auto;
    display: none;
    grid-template-areas: "one two three four";
}


/* fift box */

.fift-box {
    width: auto;
    display: grid;
    height: auto;
    margin-top: 30px;
    grid-template-areas: "one two three four";
}

.chamber-one-fiftbox, .chamber-two-fiftbox, .chamber-three-fiftbox, .chamber-four-fiftbox {
    width: 250px;
    height: 200px;
    border: solid blue;
}

.chamber-one-fiftbox {
    grid-area: one;
}

.chamber-two-fiftbox {
    grid-area: two;
}

.chamber-three-fiftbox {
    grid-area: three;
}

.chamber-four-fiftbox {
    grid-area: four;
}

/* dropdown fift box */

.dropdown-fift-box {
    width: auto;
    height: auto;
    display: none;
    grid-template-areas: "one two three four";
}

/* buttons and arrows*/

.ting {
    font-size: 20px;
    margin-left: 5px;
    margin-top: 2px;
}

.buttons-chamber4 {
    text-decoration: none;
    color: white;
    background-color: rgba(255, 13, 0, 0.977);
    padding: 10px;
    width: 200px;
    height: 50px;
    -webkit-box-shadow: 0px 0px 23px -9px rgba(143,143,143,1);
    -moz-box-shadow: 0px 0px 23px -9px rgba(143,143,143,1);
    box-shadow: 0px 0px 23px -9px rgba(143,143,143,1);
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.showDropdownFirstBox {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: 15px;
    color: black;
    font-size: 13px;
  
}

/* Symboler og tekst i chamber to første boks */

.symbolboks {
    display: flex;
    flex-direction: column;
    float: left;
    margin-left: 25px;
}

.tekstboks5 {
    display: flex;
    flex-direction: column;
    float: left;
    margin-left: 10px;
}
    
.text {
    line-height: 1.35 ;
}

.symbol {
    padding-top: 5px;
}

.green {
    color: green;
}

.red {
    color: red;
}

.rotate {
    transform: rotate(180deg);
}

/* Rangeringsmerke i chamber one */

.rangering {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 40px;
    border-bottom-right-radius: 20px;
    background-color: rgba(44, 44, 239, 0.882);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
}

/* stjerner */

.yellow {
    color: gold; 
}


.wix {
    margin-top: 10px;
}

.logo {
    margin-top: 30px;
}

.boksKarakterStjerne {
    display: flex;
  
}

.karakter {
    margin-right: 5px;
}

.compatible {
    margin-top: 10px;
}

.users {
    margin-bottom: 10px;
}

.wwusers {
   
    font-weight: bold;
    margin-bottom: 1px;
}   

.grå {
    color: green;
}

.wixy {
    position: absolute;
    top: -30px;
    left: 180px;
    z-index: 2;
    font-weight: bold;
}

/* hide/show dropdowns */

.show {
    display: grid;
}

/* media quieries */

@media only screen and (max-width: 1021px) {
    .first-box, .second-box, .third-box, .fourth-box, .fift-box, .dropdown-first-box, .dropdown-second-box, .dropdown-third-box, .dropdown-fourth-box, .dropdown-fift-box {
        grid-template-areas: "one two"
                             "three four";
    }
  }

  @media only screen and (max-width: 530px) {
    .first-box, .second-box, .third-box, .fourth-box, .fift-box, .dropdown-first-box, .dropdown-second-box, .dropdown-third-box, .dropdown-fourth-box, .dropdown-fift-box {
        grid-template-areas: "one"
                             "two"
                             "three"
                             "four";
    
        width: 300px;
    }
  }
