* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
    font-size: 16px;
}

/* photos */

.pc {
    width: 100%;
    margin-top: 50px;
}

/* navigation-box */

.navigation-box {
    border: solid 1px black;
    height: 700px;
    width: 300px;
    position: sticky;
    display: grid;
    margin-top: 80px;
    margin-left: 3%;
    top: 100px;
    z-index: 1;
    background-color: white;
}

.box-one, .box-two, .box-three, .box-four {
    width: 400px;
}

/* banner */

.banner-box {
    position: absolute;
    top: 29%;
    margin-left: 50%;
    margin-right: 5%;
    font-size: 1rem;
}

.stor_overskrift {
    color: rgb(22, 33, 74);
    font-size: 3.5rem;
}

.liten_overskrift {
    color: white;
    margin-top: 10px;
    font-size: 1.4rem;
}



/* Colors */

.green {
    color: green;
}

.red {
    color: red;
}

.yellow {
    color: gold; 
}

.grå {
    color: grey;
}

/* Header */

.header {
    width: 100%;
    height: 50px;
    display: flex;
    position: fixed;
    justify-content: space-between;
    background-color: white;
    z-index: 100;
    box-shadow: 10px 10px 32px -6px rgba(140,140,140,1);
    -moz-box-shadow: 10px 10px 32px -6px rgba(140,140,140,1);
    box-shadow: 10px 10px 32px -6px rgba(140,140,140,1);
}

.logobox-header {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-wrapper {
    width: auto;
    display: flex;
    align-items: center;
    height: 50px;
    margin-right: 50px;
}

.header-navigation-box {
    display: flex;
    list-style: none;
}

.header-navigation-links {
    padding-left: 70px;
}

.ikoner {
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    color: grey;
}


.fab {
    padding-left: 10px;
    font-size: 1.3rem;
}

/* main boxes */


.first-box {
    width: 1000px;
    display: grid;
    grid-template-areas: "one two three four";
    height: auto;
    margin-top: -650px;
    margin-left: 30%;
    -webkit-box-shadow: 0px 0px 29px 1px rgba(143,143,143,1);
    -moz-box-shadow: 0px 0px 29px 1px rgba(143,143,143,1);
    box-shadow: 0px 0px 29px 1px rgba(143,143,143,1);
    border-top: #F8F8FF solid 50px;
    position: relative;
}

.testo {
    position: absolute;
    top: -130px;
    left: 325px;
    font-size: 1.5rem;
    min-width: 354px;
    color: rgb(9, 37, 139);
}

.second-box, .third-box, .fourth-box, .fift-box {
    width: 1000px;
    display: grid;
    grid-template-areas: "one two three four";
    height: auto;
    margin-top: 20px;
    margin-left: 30%;
    -webkit-box-shadow: 0px 0px 29px 1px rgba(143,143,143,1);
    -moz-box-shadow: 0px 0px 29px 1px rgba(143,143,143,1);
    box-shadow: 0px 0px 29px 1px rgba(143,143,143,1);
    border-top: #F8F8FF solid 50px;
    position: relative;
}

.border-text {
    position: absolute;
    top: -33px;
    left: 320px;
    z-index: 2;
    font-weight: bold;
}

/* Chambers in boxes */

.chamber-one, .chamber-two, .chamber-three, .chamber-four, .chamber-one-secondbox, .chamber-two-secondbox, .chamber-three-secondbox, .chamber-four-secondbox, .chamber-one-thirdbox, .chamber-two-thirdbox, .chamber-three-thirdbox, .chamber-four-thirdbox, .chamber-one-fourthbox, .chamber-two-fourthbox, .chamber-three-fourthbox, .chamber-four-fourthbox, .chamber-one-fiftbox, .chamber-two-fiftbox, .chamber-three-fiftbox, .chamber-four-fiftbox  {
    width: 250px;
    height: 180px;
    display: flex;
}

.chamber-one, .chamber-one-secondbox, .chamber-one-thirdbox, .chamber-one-fourthbox, .chamber-one-fiftbox {
    grid-area: one;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chamber-two, .chamber-two-secondbox, .chamber-two-thirdbox, .chamber-two-fourthbox, .chamber-two-fiftbox {
    grid-area: two;
    align-items: center;
    justify-content: center;
}

.chamber-three, .chamber-three-secondbox, .chamber-three-thirdbox, .chamber-three-fourthbox, .chamber-three-fiftbox {
    grid-area: three;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chamber-four, .chamber-four-secondbox, .chamber-four-thirdbox, .chamber-four-fourthbox, .chamber-four-fiftbox  {
    grid-area: four;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Dropdowns from main boxes */

.dropdown-first-box, .dropdown-second-box, .dropdown-third-box, .dropdown-fourth-box, .dropdown-fift-box  {
    width: auto;
    max-width: 1000px;
    height: 600px;
    margin-left: 30%;
    display: none;
    border-left: solid lightgray 1px;
    border-right: solid lightgray 1px;
    border-bottom: solid lightgray 1px;
}

.dropdown-first-box-content {
    padding: 20px;
}

.overskrift-i-dropdownbox {
    text-align: center;
    padding-top: 20px;
}

/* Content in chamber one */

.rangering {
    position: absolute;
    top: -50px;
    left: 0;
    width: 50px;
    height: 50px;
    border-bottom-right-radius: 20px;
    background-color: rgb(22, 33, 74);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
}

/* Content in chamber two */

.symbolboks {
    display: flex;
    flex-direction: column;
    float: left;
    margin-left: 25px;
}

.tekstboks5 {
    display: flex;
    flex-direction: column;
    float: left;
    margin-left: 10px;
}

.text {
    line-height: 1.35 ;
}

.symbol {
    padding-top: 5px;
}

/* Content in chamber three */

.users {
    margin-bottom: 10px;
}

.wwusers {
   
    font-weight: bold;
    margin-bottom: 1px;
}   

.boksKarakterStjerne {
    display: flex;
}

.karakter {
    margin-right: 5px;
}

.compatible {
    margin-top: 10px;
}

.testings {
    padding-right: 5px;
}

/* content in fourth chamber */

.arrow1, .arrow2, .arrow3, .arrow4, .arrow5 {
    font-size: 20px;
    margin-left: 5px;
    margin-top: 2px;
}

.buttons-chamber4 {
    text-decoration: none;
    color: white;
    background-color: #ff5e00;
    padding: 10px;
    width: 200px;
    height: 50px;
    -webkit-box-shadow: 0px 0px 23px -9px rgba(143,143,143,1);
    -moz-box-shadow: 0px 0px 23px -9px rgba(143,143,143,1);
    box-shadow: 0px 0px 23px -9px rgba(143,143,143,1);
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showDropdownFirstBox, .showDropdownSecondBox, .showDropdownThirdBox, .showDropdownFourthBox, .showDropdownFiftBox  {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 13px;
    position: absolute;
    bottom: 30px;
    cursor: pointer;  
}

.toppvalg {
    position: absolute;
    top: 18px;
    font-weight: bold;
    border: solid 1px black;
    border-radius: 40px;
    padding: 5px;
}

/* table */

.table {
    margin: 0 auto;
    width: 70%;
    max-width: 1200px;
    height: 900px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-collapse: collapse;  
    margin-top: 50px;
    text-align: center;
    margin-bottom: 100px;
    
}

/* Toggle classes */
    
.rotate {
    transform: rotate(180deg);
}

.show {
    display: block;
}

/* media quieries */


@media only screen and (max-width: 1770px) {
    .banner-box {
        top: 250px;
    }
    }


@media only screen and (max-width: 1465px) {
    .first-box, .second-box, .third-box, .fourth-box, .fift-box {
        margin-left: 25%;
    }
    
    .navigation-box {
        margin-left: 20px;
    }

    .banner-box {
        top: 190px;
    }

    .dropdown-first-box, .dropdown-second-box, .dropdown-third-box, .dropdown-fourth-box, .dropdown-fift-box {
        margin-left: 25%;
    }

    
}


@media only screen and (max-width: 1364px) {
    .first-box, .second-box, .third-box, .fourth-box, .fift-box, .dropdown-first-box, .dropdown-second-box, .dropdown-third-box, .dropdown-fourth-box, .dropdown-fift-box {
        grid-template-areas: "one two"
                             "three four";
    }
    
    .first-box, .second-box, .third-box, .fourth-box, .fift-box {
        width: 500px;
        margin-left: 45%;
    }

    .testo {
        left: 80px
    }


    .border-text {
        left: 90px;
    }

    .chamber-one, .chamber-two, .chamber-three, .chamber-four, .chamber-one-secondbox, .chamber-two-secondbox, .chamber-three-secondbox, .chamber-four-secondbox, .chamber-one-thirdbox, .chamber-two-thirdbox, .chamber-three-thirdbox, .chamber-four-thirdbox, .chamber-one-fourthbox, .chamber-two-fourthbox, .chamber-three-fourthbox, .chamber-four-fourthbox, .chamber-one-fiftbox, .chamber-two-fiftbox, .chamber-three-fiftbox, .chamber-four-fiftbox {
        border-bottom: 1px solid lightgray;
        border-right: 1px solid lightgray;
    }

    .chamber-two {
        border-bottom: 1px solid lightgray;
    }

    .chamber-three {
        border-right: 1px solid lightgray;
    }

    .dropdown-first-box, .dropdown-second-box, .dropdown-third-box, .dropdown-fourth-box, .dropdown-fift-box {
        width: 500px;
        margin-left: 45%;
    }
  }

  @media only screen and (max-width: 1150px) {
    .banner-box {
        top: 130px;
    }

  @media only screen and (max-width: 960px) {
   * {
       font-size: 15px;   
  }
    .first-box, .second-box, .third-box, .fourth-box, .fift-box, .dropdown-first-box, .dropdown-second-box, .dropdown-third-box, .dropdown-fourth-box, .dropdown-fift-box {
        grid-template-areas: "one"
                             "two"
                             "three"
                             "four";
    
        width: 80%;
        max-width: 380px;
    }

    .chamber-one, .chamber-two, .chamber-three, .chamber-four, .chamber-one-secondbox, .chamber-two-secondbox, .chamber-three-secondbox, .chamber-four-secondbox, .chamber-one-thirdbox, .chamber-two-thirdbox, .chamber-three-thirdbox, .chamber-four-thirdbox, .chamber-one-fourthbox, .chamber-two-fourthbox, .chamber-three-fourthbox, .chamber-four-fourthbox, .chamber-one-fiftbox, .chamber-two-fiftbox, .chamber-three-fiftbox, .chamber-four-fiftbox {
        border-bottom: solid lightgrey 1px;
        width: auto;
    }

    .chamber-four {
        width: auto;
    }

    .border-text {
        left: 60px;
        top: -43px;
    }

    .banner-box {
        top: 120px;
    }
    .stor_overskrift {
        font-size: 2.5rem;
    }

    .liten_overskrift {
        font-size: 1.3rem;
    }

    .testo {
        left: 25px;
    }

  }
}

  @media only screen and (max-width: 770px) {


      .navigation-box {
          display: none;
      }

      .banner-box {
        top: 100px;
      }

      .first-box {
        margin-top: 50px;
      }

      .wrapper-around-main-boxes {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .first-box, .second-box, .third-box, .fourth-box, .fift-box {
          margin-left: 0px;
      }

      .dropdown-first-box, .dropdown-second-box, .dropdown-third-box, .dropdown-fourth-box, .dropdown-fift-box {
        margin-left: 50%;
        margin-right: 50%;
    }
    
    .stor_overskrift {
        font-size: 2rem;
    }
    
    .liten_overskrift {
        font-size: 1.1rem;
    }

    .testo {
        top: -110px;
        font-size: 1.3rem;
        left: 43px;
    }

    .fab {
        font-size: 1rem;
    }
    
}

@media only screen and (max-width: 600px) {
    .banner-box {
        top: 80px;
    }

   
    

}